<input
  #inputRef
  type="text"
  [value]="formControl.value[textKey] || ''"
  [formControl]="formControl"
  (input)="filterData($event.target.value)"
  (focus)="showDropdown()"
/>
<ul *ngIf="showDropdownFlag">
  <ng-container *ngIf="filteredData$ | async as filteredData">
    <li *ngFor="let group of filteredData | groupedBy: regroupBy">
      <span class="group-title">{{ group.key }}</span>
      <ul>
        <li *ngFor="let item of group.items" (click)="selectItem(item)">
          {{ item[textKey] }}
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
